<h1>Edit page</h1>
<div class="container">
  <div class="tratamente">
  <p>Tratamente</p>
  <table class="table table-striped ">
    <thead>
    <tr>
      <th scope="col" style="width:10%">Tratament Id</th>
      <th scope="col" style="width:20%">Diagnostic Id</th>
      <th scope="col" style="width:10%">Medicament Id</th>
      <th scope="col" style="width:10%">Dozaj</th>
      <th scope="col" style="width:20%">Data administarre</th>
      <th scope="col" style="width:20%">Data terminare</th>
      <th scope="col" style="width:10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tratament of tratamente;let i=index">
      <th scope="row">{{tratament.tratamentId}}</th>
      <td>{{tratament.diagnosticId}}</td>
      <td>{{tratament.medicamentId}}</td>
      <td>{{tratament.dozaj}}</td>
      <td>{{tratament.dataAdministrare}}</td>
      <td>{{tratament.dataTerminare}}</td>
      <td><a class=" dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="showM1(tratament.tratamentId)"><i class="fas fa-pen"></i> Edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="deleteTratament(tratament.tratamentId)"><i class="fas fa-eraser"></i> Delete</a>
        </div>
      </td>


    </tr>


    </tbody>
  </table>

  </div>



  <div class="pacient">
    <p>Pacienti</p>
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col" style="width:10%">Pacient Id</th>
        <th scope="col" style="width:30%">Nume</th>
        <th scope="col" style="width:20%">Prenume</th>
        <th scope="col" style="width:10%">Varsta</th>
        <th scope="col" style="width:20%">CNP</th>
        <th scope="col" style="width:10%">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pacient of pacienti;let i=index">
        <th scope="row">{{pacient.pacientId}}</th>
        <td>{{pacient.pacientNume}}</td>
        <td>{{pacient.pacientPrenume}}</td>
        <td>{{pacient.varsta}}</td>
        <td>{{pacient.cnp}}</td>

        <td><a class=" dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" (click)="showM2(pacient.pacientId)"><i class="fas fa-pen"></i> Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deletePacient(pacient.pacientId)" ><i class="fas fa-eraser"></i> Delete</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div>


  <div class="doctor">
    <p>Doctori</p>
    <table class="table table-striped " >
      <thead>
      <tr>
        <th scope="col" style="width:10%">Doctor Id</th>
        <th scope="col" style="width:30%">Nume</th>
        <th scope="col" style="width:20%">Prenume</th>
        <th scope="col" style="width:10%">Varsta</th>
        <th scope="col" style="width:20%">Specialitate</th>
        <th scope="col" style="width:10%">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doctor of doctori;let i=index">
        <th scope="row">{{doctor.doctorId}}</th>
        <td>{{doctor.doctorNume}}</td>
        <td>{{doctor.doctorPrenume}}</td>
        <td>{{doctor.varsta}}</td>
        <td>{{doctor.specialitate}}</td>

        <td><a class=" dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" (click)="showM3(doctor.doctorId)"><i class="fas fa-pen"></i> Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteDoctor(doctor.doctorId)"><i class="fas fa-eraser"></i> Delete</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div>


</div>
<app-edit-tratament-modal #editTratamentModal (change)="onEditFinished($event)" ></app-edit-tratament-modal>
<app-edit-pacient-modal #editPacientModal (change)="onEditFinished($event)" ></app-edit-pacient-modal>
<app-edit-doctor-modal #editDoctorModal (change)="onEditFinished($event)" ></app-edit-doctor-modal>
