<h1>Edit page</h1>
<div class="container">
  <div class="tratamente">
  <p>Tratamente</p>
  <table class="table table-striped ">
    <thead>
    <tr>
      <th scope="col" style="width:10%">Tratament Id</th>
      <th scope="col" style="width:20%">Diagnostic Id</th>
      <th scope="col" style="width:10%">Medicament Id</th>
      <th scope="col" style="width:10%">Dozaj</th>
      <th scope="col" style="width:20%">Data administarre</th>
      <th scope="col" style="width:20%">Data terminare</th>
      <th scope="col" style="width:10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tratament of tratamente;let i=index">
      <th scope="row">{{tratament.tratamentId}}</th>
      <td>{{tratament.diagnosticId}}</td>
      <td>{{tratament.medicamentId}}</td>
      <td>{{tratament.dozaj}}</td>
      <td>{{tratament.dataAdministrare}}</td>
      <td>{{tratament.dataTerminare}}</td>
      <td><a class=" dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="showM1(tratament.tratamentId)"><i class="fas fa-pen"></i> Edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="deleteTratament(tratament.tratamentId)"><i class="fas fa-eraser"></i> Delete</a>
        </div>
      </td>


    </tr>


    </tbody>
  </table>

  </div>


<!-- 
  <div class="artist">
    <p>Artists</p>
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col" style="width:10%">ID</th>
        <th scope="col" style="width:30%">Name</th>
        <th scope="col" style="width:20%">Nationality</th>
        <th scope="col" style="width:10%">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artists;let i=index">
        <th scope="row">{{artist.id}}</th>
        <td>{{artist.name}}</td>
        <td>{{artist.nationality}}</td>

        <td><a class=" dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" (click)="showM2(artist.id)"><i class="fas fa-pen"></i> Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteArtist(artist.id)" ><i class="fas fa-eraser"></i> Delete</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div>


  <div class="song">
    <p>Songs</p>
    <table class="table table-striped " >
      <thead>
      <tr>
        <th scope="col" style="width:10%">ID</th>
        <th scope="col" style="width:30%">Name</th>
        <th scope="col" style="width:30%">Style</th>
        <th scope="col" style="width:10%">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let song of songs;let i=index">
        <th scope="row">{{song.id}}</th>
        <td>{{song.name}}</td>
        <td>{{song.style}}</td>


        <td><a class=" dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" (click)="showM3(song.id)"><i class="fas fa-pen"></i> Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="deleteSong(song.id)"><i class="fas fa-eraser"></i> Delete</a>
          </div>
        </td>


      </tr>


      </tbody>
    </table>

  </div> -->


</div>
<app-edit-tratament-modal #editTratamentModal (change)="onEditFinished($event)" ></app-edit-tratament-modal>
<!-- <app-edit-song-modal #editSongModal (change)="onEditFinished($event)" ></app-edit-song-modal>
<app-edit-artist-modal #editArtistModal (change)="onEditFinished($event)" ></app-edit-artist-modal> -->
