<h1>Add page</h1>
<div class="container">

<div id="text">
  <p style="display: inline; margin-right: 10px; ">Add new</p>
  <div *ngFor="let option of options" style="display: inline; margin-left:10px; ">
       <input type="radio" name="option" [value]="option" (change)="radioChange($event)" checked="checked"><i>{{option}}</i>
  </div>
</div>

<div class="form-container border ">

  <form class="text-center " [formGroup]="addSongForm"  *ngIf="selectedOption === 'Song'">

    <input type="text"  class="form-control mb-4" placeholder="Name" formControlName="name"
       autocomplete="off"   >

    <input type="text"  class="form-control mb-4" placeholder="Style" formControlName="style"
         autocomplete="off"  >
  </form>



  <form class="text-center  " [formGroup]="addArtistForm" *ngIf="selectedOption === 'Artist'">

    <input type="text"  class="form-control mb-4" placeholder="Name" formControlName="name"
         autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="Nationality" formControlName="nationality"
          autocomplete="off" >
  </form>


  

  <form class="text-center  " [formGroup]="addAlbumForm"  *ngIf="selectedOption === 'Album'">

    <input type="text"  class="form-control mb-4" placeholder="Name" formControlName="name"
         autocomplete="off" >

    <input type="number"  class="form-control mb-4" placeholder="ReleaseYear" formControlName="releaseYear"
          autocomplete="off" >


    <input type="number"  class="form-control mb-4" placeholder="studioID" formControlName="studioId"
          autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="ArtistId1, ArtistId2" formControlName="artistId"
          autocomplete="off" >

    <input type="text"  class="form-control mb-4" placeholder="SongId1, SongId2" formControlName="songId"
          autocomplete="off" >
    <input type="text"  class="form-control novalidate mb-4" placeholder="Img URL" formControlName="img"
           autocomplete="off">
  </form>
  <button mdbBtn color="danger" block="true"  type="submit" (click)="add()" [disabled]="currentFormRef.invalid" >Add</button>
    <p *ngIf="success" style="color: green; font-size: 22px;">{{selectedOption.toUpperCase()}} added successfully</p>
    <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong</p>
</div>
</div>

