<h1>Add page</h1>
<div class="container">

<div id="text">
  <p style="display: inline; margin-right: 10px; ">Add new</p>
  <div *ngFor="let option of options" style="display: inline; margin-left:10px; ">
       <input type="radio" name="option" [value]="option" (change)="radioChange($event)" checked="checked"><i>{{option}}</i>
  </div>
</div>

<div class="form-container border ">

  <form class="text-center " [formGroup]="addDiagnosticForm"  *ngIf="selectedOption === 'Diagnostic'">

    <input type="number"  class="form-control mb-4" placeholder="Pacient id" formControlName="pacientId"
       autocomplete="off"   >

    <input type="number"  class="form-control mb-4" placeholder="Doctor id" formControlName="doctorId"
         autocomplete="off"  >
  </form>



  <form class="text-center  " [formGroup]="addPacientForm" *ngIf="selectedOption === 'Pacient'">

    <input type="text"  class="form-control mb-4" placeholder="Nume" formControlName="pacientNume"
         autocomplete="off" >
         
    <input type="text"  class="form-control mb-4" placeholder="Prenume" formControlName="pacientPrenume"
    autocomplete="off" >

    <input type="number"  class="form-control mb-4" placeholder="Varsta" formControlName="varsta"
         autocomplete="off"  >

      <input type="text"  class="form-control mb-4" placeholder="CNP" formControlName="cnp" size="10"
      autocomplete="off" >

  </form>


  

  <form class="text-center  " [formGroup]="addTratamentForm"  *ngIf="selectedOption === 'Tratament'">
      <input type="number"  class="form-control mb-4" placeholder="Diagnostic id" formControlName="diagnosticId"
      autocomplete="off"  >

      <input type="number"  class="form-control mb-4" placeholder="Medicament id" formControlName="medicamentId"
      autocomplete="off"  >

      <input type="number"  class="form-control mb-4" placeholder="Dozaj" formControlName="dozaj"
      autocomplete="off"  >

      <input type="text"  class="form-control mb-4" placeholder="Data Administrare" formControlName="dataAdministrare"
      autocomplete="off" >

      <input type="text"  class="form-control mb-4" placeholder="Data Terminare" formControlName="dataTerminare"
      autocomplete="off" >

  </form>
  <button mdbBtn color="danger" block="true"  type="submit" (click)="add()" [disabled]="currentFormRef.invalid" >Add</button>
    <p *ngIf="success" style="color: green; font-size: 22px;">{{selectedOption.toUpperCase()}} added successfully</p>
    <p *ngIf="success === false" style="color: red; font-size: 22px;">Something went wrong</p>
</div>
</div>

