<div bsModal class=" row modal fade" #editAlbumModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editAlbumModal"
     aria-hidden="true" (onHide)=" this.editAlbumForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editAlbumForm">


    <form class="text-center border border-light p-5" [formGroup]="editAlbumForm">

      <p class="h4 mb-4">Edit Album</p>

      <label for="name">Name</label>
      <input type="text"  id="name" class="form-control mb-4"   formControlName="name" autocomplete="off" >

      <label for="releaseYear" >ReleaseYear</label>
      <input type="text" id="releaseYear" class="form-control mb-4" formControlName="releaseYear" autocomplete="off" >

      <label for="studioId">StudioId</label>
      <input type="number" id="studioId"  class="form-control mb-4" formControlName="studioId" autocomplete="off" >

      <label for="art">Add artist id's *</label>
      <input type="text" id="art" class="form-control mb-4" placeholder='ArtistId1, ArtistId2' formControlName="artistId" autocomplete="off" >

      <label for="song">Add songs id's *</label>
      <input type="text" id="song" class="form-control mb-4" placeholder='SongId1, SongId2' formControlName="songId" autocomplete="off" >

      <label for="song">Img URL</label>
      <input type="text" id="song" class="form-control novalidate mb-4"  formControlName="img" autocomplete="off" >



      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="!this.editAlbumForm.valid || this.editAlbumForm.pristine" (click)='editAlbum()'>Edit</button>







    </form>

  </div>
</div>


