<div bsModal class=" row modal fade" #detailModal="bs-modal" tabindex="-1" style="margin-top:200px;">
  <div class="col-md-6 col-sm-6 col-lg-8 mx-auto my-4" id="modal">

    <div class="container col-lg-12">
      <div class="row">

        <div class="col-lg-4" style="padding-right:0">
          <!-- <img [src]="album.img" class="img-fluid z-depth-1 rounded"> -->
        </div>
   
      <div class="col-lg-8" style="padding-left:10px">
        <div class="row">
          <div class="details">
          <p *ngFor = "let pacient of pacient.pacientNume" > {{pacient}} </p>
          <p> Pacient - {{pacient.pacientNume}} {{pacient.pacientPrenume}}</p>
            
          <ul *ngIf="diagnostice?.length > 0">
            Diagnosticat de:
            <li *ngFor="let diagnostic of diagnostice">
              {{diagnostic.doctor.doctorNume}} {{diagnostic.doctor.doctorPrenume}}
            </li>
          </ul>

          <ul *ngIf="tratamente?.length > 0">
            Tratamente:
            <li *ngFor="let tratament of tratamente">
              <ul>
                <li>Medicament: {{tratament.medicament.nume}}</li>
                <li>Dozaj: {{tratament.dozaj}}</li>
                <li>Data administrare: {{tratament.dataAdministrare}}</li>
                <li>Data terminare:{{tratament.dataTerminare}}</li>
              </ul>
              <br>
            </li>
          </ul>

        </div>
        </div>
      </div>


      </div>
    </div>



</div>


  </div>



