<div bsModal class=" row modal fade" #detailModal="bs-modal" tabindex="-1" style="margin-top:200px;">
  <div class="col-md-6 col-sm-6 col-lg-8 mx-auto my-4" id="modal">

    <div class="container col-lg-12">
      <div class="row">

        <div class="col-lg-4" style="padding-right:0">
          <!-- <img [src]="album.img" class="img-fluid z-depth-1 rounded"> -->
        </div>
   
      <div class="col-lg-8" style="padding-left:10px">
        <div class="row">
          <div class="details">
          <p *ngFor = "let pacient of pacient.pacientNume" > {{pacient}} </p>
          <p> Pacient - {{pacient.pacientNume}} {{pacient.pacientPrenume}}</p>
            
          <ul>
            <li *ngFor="let diagnostic of diagnostice">
              {{diagnostic.doctor.doctorNume}} {{diagnostic.doctor.doctorPrenume}}
            </li>
          </ul>

        </div>
        </div>
        <div class="row">
          <div class="button">
       
          <!-- <button  type="button" class="btn btn-dark" (click)="addToCart(album)">Add to cart</button> -->
         
        </div>
        </div>
      </div>


      </div>
    </div>



</div>


  </div>



