<div bsModal class=" row modal fade" #editSongModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editSongModal"
     aria-hidden="true" (onHide)=" this.editSongForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editSongForm">


    <form class="text-center border border-light p-5" [formGroup]="editSongForm"  >

      <p class="h4 mb-4">Edit Song</p>
      <input type="text"  class="form-control mb-4"   formControlName="name" placeholder="Enter name" autocomplete="off">
      <input type="text"  class="form-control mb-4"   formControlName="style" placeholder="Enter style" autocomplete="off">
      <button mdbBtn color="danger" block="true" class="my-4"  [disabled]="editSongForm.invalid || editSongForm.pristine" (click)="editSong()">Edit</button>

    </form>

  </div>
</div>


