<nav class="navbar navbar-light bg-light"  style="background-image: url('https://i.pinimg.com/originals/c0/ad/7d/c0ad7d86b5844e488a3c95f409f13733.jpg');">
  <a routerLink="/" class="navbar-brand navbar">
    <h2 class="nav-link">Health Card</h2>
  </a>

  <div>
    <ul class="nav navbar">

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/add">
          <i class="fas fa-plus-circle"></i>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/edit">
          <i class="fas fa-edit"></i>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active-page">
        <a class="nav-link" routerLink="/contact">
          <i class="fas fa-address-book"></i>

        </a>
      </li>

    </ul>
  </div>

</nav>